* {
	box-sizing: border-box;
}

body {
	margin: 0; 	
	font-family: 'Open Sans', sans-serif;
}

nav {
	position: fixed; 
	width: 100%;
}

.alternative{
	height: 100vh; 
	display: flex; 
	background: linear-gradient(to top right, #006F66, #FFFFFF);
}

.logo{
	flex: 1; display: 
	flex; align-items: center; 
	justify-content: center;
}

.logo div{
	color: #ffffff; font-size: 4rem; font-family: 'Dancing Script', cursive; padding: 0 .5rem;
}

/************* NAV *****************/
.main-nav{
	display: flex; 
	align-items: center; 
	background-color: #006F66; 
	height: 50px; 
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.btn-admin {
	flex: 1; 
	text-transform: uppercase; 
	font-size: .8rem;
}

.main-nav a , .main-nav span {

	margin-left: 1rem; 
	color: #ffffff; 
	text-decoration: none;
}

.title-nav {
	color: #ffffff; 
	font-size: 2rem; 
	font-family: 'Dancing Script', cursive; 
	padding: 0 .5rem;
}

.login-nav {
	flex: 1; 
	text-align: right; 
	text-transform: uppercase; 
	font-size: .8rem;
	margin-right: 1rem; 
}

/******************************/

/*********** SECCIONES *******************/
.section-header{
	padding: 10rem 0 1rem 0; 
	background-color: #eeeeee;
}
.section-header > div {
	align-items: center; 
	justify-content: space-between; 
	width: 70%; 
	margin: 0 auto;
}

.section-title{
 font-size: 3rem; 
 color: #006F66;
}

.view-cesta {
	float: right; 
	display: flex; 
	align-items: center; 
	cursor: pointer; 
	background-color: #dddddd; 
	border-radius: 0 5px 5px 0;
}

.view-cesta > i {
	width: 2.5rem; 
	line-height: 2.5rem; 
	font-size: 1.5rem; 
	border-radius: 50%; 
	background-color: #006F66; 
	color: #ffffff; 
	text-align: center; 
	margin-right: .5rem; 
	margin-left: -1.5rem;
}



.btn-back{
	display: flex; 
	align-items: 	center; 
	color: #bbbbbb; 
	text-decoration: none;"
}
.btn-back > i {
	margin-right: .5rem;
}

.section-body{
	width: 70%; 
	margin: 0 auto; 
	padding: 1rem 0;
}

/******************************/


/************ CATALOGO ******************/
.search > div {
	float: right; 
	margin-bottom: 1rem;
}

.search input {
	font-size: .8rem; 
	line-height: 1rem; 
	padding: .5rem;
}

#show-search{
	font-size: 1.5rem; 
	padding-left: .5rem; 
	cursor: pointer;
}

.visible-input{
	display: flex; align-items: center;
}

.cd-tumbnail {
	float: left; 
	width: 20%; 
	padding: .5rem; 
	overflow: hidden; 
	position: relative;
}
.img-cd, .img-cd > img , .big-img-cd > img {
	width: 100%;
}
.title-cd{
	font-weight: bold; 
	font-size: 1.3rem;
}
.year-cd{
	color: #555555; 
	font-size: .7rem;
}
.edit-cd{
	position: absolute; 
	bottom: 2rem; 
	right: .5rem;
}
.edit-cd > i {
	background-color: #006F66; padding: .5rem; color: #ffffff; font-size: 1.2rem; cursor: pointer;
}

/******************************/


/************* CARRO *****************/
.item-car > div{
	display: flex; align-items: center; margin-bottom: 1rem;
}

.item-car > div > .info-cd{
	flex: 1; 
	margin: 0 1rem;
}

.price-cd{
	margin: 0 1rem; 
	font-size: 1.5rem;
}

.item-car > div > form {
	margin: 0 1rem; 
	margin-bottom: -0.8rem; 
	font-size: 1.5rem; 
	text-align: center;
}

.item-car > div > form > input{
	padding: .5rem;
	 width: 5rem; 
	 font-size: 1.3rem; 
	 border: 1px solid #006F66; 
	 text-align: center;
}

.item-car > div > form > div {
	font-size: .3rem;
}

.item-car > div > form > div > input{
	background: transparent; 
	border: none; 
	color: #006F66; 
	font-size: .7rem; 
	cursor: pointer;
}

.item-car > div > .btn-delete{
	margin-left: 1rem;
}

.item-car > div > .btn-delete > i{
	background-color: #006F66; 
	padding: .5rem; 
	color: #ffffff; 
	font-size: 1.2rem; 
	cursor: pointer;
}


.count-car > div {
	display: flex; 
	align-items: center; 
	border-top: 1px solid #006F66; 
	justify-content: flex-end; 
	margin-top: 2rem;
}

.discount{
	color: #ffffff; 
	display: flex; 
	align-items: stretch;
}


.discount > div {
	background-color: #004d40; 
	font-size: .6rem; 
	display: flex; a
	lign-items: center;
}

.discount > div > p {
	transform: rotate(-90deg); 
	letter-spacing: 2px; 
	margin: -2px -4px 0 -2px;
	z-index: 1000;
}

.discount > span{
	padding: .5rem 1rem; 
	background-color: #006F66; 
	font-size: 1rem; 
	font-weight: bolder;
}

.subtotal{
	padding: 0 1rem; font-size: 1.2rem;
}
.subtotal > p >span{
	color: #006F66; 
	font-weight: bolder; 
	font-size: 1.3rem;
}


.action-car > a{
	padding: .5rem 1rem; 
	background-color: #006F66; 
	color: #ffffff; 
	font-size: 1rem; 
	display: flex; 
	align-items: center; 
	cursor: pointer; 
	font-family: 'Open Sans', sans-serif; 
	border: none;
}

.action-car > a > i{
	margin-right: .5rem; 
	font-size: 1.2rem;
}
/******************************/




/*********** CD *******************/
.detail-cd {
	width: 70%; 
	margin: 0 auto; 
	padding: 2rem 0;
}

.big-img-cd {
	width: 35%; float: left;
}

.info-comp-cd{
	width: 65%; 
	float: left; 
	padding: 0 1rem 0 3rem;
}

.detail-cd > .info-comp-cd > .item-info {
	margin-bottom: 1rem;
}

.detail-cd > .info-comp-cd > .item-info > .title-item {
	font-weight: bolder; 
	font-size: .8rem; 
	color: #006F66;
}

.disp-cd{
	font-size: 1rem; 
	display: flex; 
	align-items: center;
}

.disp-cd > div{
	border-radius: 50%;
	margin-right: .5rem; 
	height: .7rem; width: .7rem; 
	display: inline-block;
}

.detail-cd form > button, .comments-box .new form div button {
	padding: .5rem 1rem; 
	margin: 2rem 0; 
	background-color: #006F66; 
	color: #ffffff; 
	font-size: 1.3rem; 
	display: flex; 
	align-items: center; 
	cursor: pointer;
	font-family: 'Open Sans', sans-serif; 
	border: none;
    border: none;

}
.detail-cd form > button > i, .comments-box .new form div button i {
	margin-right: .5rem;
}

.comments-box {
	width: 70%; 
	margin: 0 auto; 
	padding: 5rem 0; 
	clear: both;
}

.comments-box > .title-comments{
	font-size: 3rem; 
	color: #006F66; 
	margin-bottom: 1rem;
}

.comments-box > .body-comments > div {
	border-radius: 3px; 
	background-color: #E0F2F1; 
	margin-bottom: 1rem;
	padding: 1rem;
}

.comments-box > .body-comments > .new{
	background-color: #E0E0E0;
}

.comment-header{
	display: flex; 
	align-items: center; 
	justify-content: space-between; 
	margin-bottom: .5rem; 
	border-bottom: 1px solid #B2DFDB;
}

.comment-header > p {
	font-size: 1.2rem; 
	font-weight: bolder;
	margin: 0;
}

.comment-header > div{
	display: flex; 
	align-items: center;
}

.comment-header > div > i{
	font-size: 1rem; 
	color: #FFA000;
}

.comment-header > div > .rating  span{
	font-size: .8rem;
}

.comments-box textarea {
	width: 100%; 
	border: none; 
	padding: 1rem; 
	font-size: 1rem; 
	font-family: 'Open Sans', sans-serif;
}

/******************************/



/************ LOGIN ******************/
.form-login{
	flex: 1; 
	display: flex; 
	align-items: center; 
	justify-content: center;

}

.form-login form input{
	padding: .7rem 1rem; 
	margin: .3rem 0; 
	width: 400px; 
	font-size: 1.3rem; 
	border: none;

}

.form-login form button{
	width: 150px; 
	padding: .7rem 1rem; 
	margin: .3rem 0; 
	font-size: 1rem; 
	cursor: pointer; 
	border: none;
	float: right;
}
.form-login .title-form {
	font-size: 3rem; 
	color: #006F66;
}
.form-login form .btn-reg{
	font-size: .7rem; 
	text-align: center; 
	margin-top: 1rem;
}

.form-login form .btn-reg a{
	color: #006F66; 
	font-weight: bolder;
}

.error-msg{
	display: flex;
    align-items: center;
    padding: 1rem 2rem;
    padding-right: 1rem;
    background-color: #ffffff;
    color: #006F66;
    font-weight: bolder;
    position: fixed;
    left: 2rem;
    bottom: 2rem;
}

.error-msg > i{
	margin-left: 2rem; 
	cursor: pointer;
}

/******************************/


/************ USUARIOS ******************/
.item-user{
	display: flex; 
	align-items: center; 
	margin-bottom: 1rem;
}

.item-user .dato {
	margin: 0 .5rem;
}

.item-user .dato div{
	color: #006F66; 
	font-size: 1.3rem;
}

.item-user .dato .vip{
	padding: .1rem .2rem; 
	border-radius: 3px; 
	background-color: #004d40; 
	color: #ffffff; 
	font-weight: bolder; 
	font-size: .6rem;
}

.new-password input {
	padding: .4rem; 
	margin: 0 3rem; 
	width: 300px; 
	font-size: 1rem; 
	border: 1px solid #006F66;
}

.item-user div i{
	background-color: #006F66; 
	padding: .5rem; 
	color: #ffffff; 
	font-size: 1.2rem; 
	cursor: pointer;
}

.count-user{
	display: flex; 
	align-items: center; 
	border-top: 1px solid #006F66; 
	justify-content: flex-end; 
	margin-top: 2rem;
}

.count-user > div {
	padding: 0 1rem; 
	font-size: 1.2rem;
}

.count-user > div > p > span{
	color: #006F66; 
	font-weight: bolder; 
	font-size: 1.3rem;
}
/******************************/

/************ NEW CD ******************/
.form-new-cd {
	width: 70%; 
	margin: 0 auto; 
	padding: 2rem 0;
}

.form-new-cd > div{
	width: 65%; 
	float: left;
}

.form-new-cd input {
	padding: .7rem 1rem; 
	margin: .3rem 0; 
	font-size: 1.3rem; 
	border: 1px solid #006F66;
}

.form-new-cd button {
	padding: .5rem 1rem; 
	margin: 2rem 0; 
	background-color: #006F66; 
	color: #ffffff; 
	font-size: 1.3rem; 
	display: flex; 
	align-items: center; 
	cursor: pointer; 
	font-family: 'Open Sans', sans-serif; 
	border: none;
}
/******************************/